@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Noto+Sans+TC:wght@400;500;700&display=swap");

:root {
  font-family: "Space Grotesk", "Noto Sans TC", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #e8edf7;
  background-color: #05070f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
